<div class="reset-password">
  <div class="title">
    <p>Change Password</p>
  </div>
  <hr>
  <div *ngIf="innerLoading" class="loader"></div>

  <div *ngIf="!innerLoading">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmitResetPassword()">
      <div class="info row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="oldPassword">CURRENT PASSWORD</label>
            <input type="password" id="oldPassword" class="form-control" name="oldPassword" placeholder="Password"
              formControlName="oldPassword" [maxlength]="140">
            <span *ngIf="resetPasswordForm.get('oldPassword').invalid && resetPasswordForm.get('oldPassword').touched">
              <span *ngIf="resetPasswordForm.get('oldPassword').errors['required']" class="alert-danger">This field is
                required!</span>
              <span *ngIf="resetPasswordForm.get('oldPassword').errors['minlength']" class="alert-danger">The password
                should at least be 12 digits!</span>
              <span *ngIf="resetPasswordForm.get('oldPassword').errors['maxlength']" class="alert-danger">The
                password should not exceed 128 digits!</span>
            </span>
          </div>

        </div>
      </div>

      <div class="info row" formGroupName="newPasswordGroup">

        <div class="col-md-6">
          <div class="form-group">
            <label for="newPassword"></label>
            <div class="password-container">
              <input
                type="password"
                id="newPassword"
                class="form-control"
                name="newPassword"
                placeholder="New Password"
                formControlName="newPassword"
                [maxlength]="240"
              />
              <div class="input-group-append">
                <button
                class="btn-toggle-password"
                type="button"
                (mousedown)="togglePasswordVisibility(true)" 
                (mouseup)="togglePasswordVisibility(false)"
                (mouseleave)="togglePasswordVisibility(false)">
                  <i class="fa" [ngClass]="{'fa-eye': showPassword, 'fa-eye-slash': !showPassword}"></i>
                </button>
              </div>
            </div>
            <span
              *ngIf="resetPasswordForm.get('newPasswordGroup.newPassword').invalid && resetPasswordForm.get('newPasswordGroup.newPassword').touched">
              <span *ngIf="resetPasswordForm.get('newPasswordGroup.newPassword').errors['required']"
                class="alert-danger">This field is required!</span>
              <span *ngIf="resetPasswordForm.get('newPasswordGroup.newPassword').errors['minlength']"
                class="alert-danger">The password should at least be 12 digits!</span>
              <span *ngIf="resetPasswordForm.get('newPasswordGroup.newPassword').errors['maxlength']" class="alert-danger">The
                password should not exceed 128 digits!</span>
              <span *ngIf="resetPasswordForm.get('newPasswordGroup.newPassword').errors['notStrong']" class="alert-danger">The
                password is not strong enough!</span>
            </span>
            <span
              *ngIf="resetPasswordForm.get('newPasswordGroup').invalid && resetPasswordForm.get('newPasswordGroup').touched">
              <span
                *ngIf="resetPasswordForm.get('newPasswordGroup').errors != null && resetPasswordForm.get('newPasswordGroup').errors['noMatch']"
                class="alert-danger">The passwords must match!</span>
            </span>
          </div>

        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="newPasswordConfirm"></label>
            <div class="password-container">
              <input
                type="password"
                id="newPasswordConfirm"
                class="form-control"
                name="newPasswordConfirm"
                placeholder="New Password Again"
                formControlName="newPasswordConfirm"
                [maxlength]="240"
              />
              <div class="input-group-append">
                <button
                class="btn-toggle-password"
                type="button"
                (mousedown)="togglePasswordConfirmVisibility(true)" 
                (mouseup)="togglePasswordConfirmVisibility(false)"
                (mouseleave)="togglePasswordConfirmVisibility(false)">
                  <i class="fa" [ngClass]="{'fa-eye': showPasswordConfirm, 'fa-eye-slash': !showPasswordConfirm}"></i>
                </button>
              </div>
            </div>
            <span
              *ngIf="resetPasswordForm.get('newPasswordGroup.newPasswordConfirm').invalid && resetPasswordForm.get('newPasswordGroup.newPasswordConfirm').touched">
              <span *ngIf="resetPasswordForm.get('newPasswordGroup.newPasswordConfirm').errors['required']"
                class="alert-danger">This field is required!</span>
              <span *ngIf="resetPasswordForm.get('newPasswordGroup.newPasswordConfirm').errors['minlength']"
                class="alert-danger">The password should at least be 12 digits!</span>
              <span *ngIf="resetPasswordForm.get('newPasswordGroup.newPasswordConfirm').errors['maxlength']" class="alert-danger">The
                password should not exceed 128 digits!</span>
            </span>
          </div>
        </div>
      </div>

      <div class="row controls">
        <div class="col-md-12">
          <button class="btn btn-info" type="submit"
            [disabled]="resetPasswordForm.invalid || resetPasswordForm.pending">
            Update
          </button>
        </div>

      </div>
    </form>
  </div>
</div>
